<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le styles -->
  <link href="{{ site.url }}/css/bootstrap.css" rel="stylesheet">
  <link href="{{ site.url }}/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="{{ site.url }}/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.url }}/css/style.css" rel="stylesheet">

  <script src="{{ site.url }}/js/modernizr.js"></script>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/apple-touch-icon-72-precomposed.png">
                  <link rel="apple-touch-icon-precomposed" href="{{ site.url }}/apple-touch-icon-57-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
</head>
<body>
  <div id="wrap">
    <div class="container-narrow">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="{{ site.url }}">Blog</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/">Jetpac</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <h3 class="muted"><a href="{{ site.url }}">Jetpac Engineering</a></h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Super awesome engineering speak!</h1>
        <p class="lead">Bringing big data to the world of travel.</p>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span12">
        	{{ content }}
        </div>
      </div>

    </div> <!-- /container -->
  </div>

  <div id="footer">
    <div class="container-narrow">
      <p class="muted credit">&copy; Jetpac 2013.</p>
    </div>
  </div>

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ site.url }}/js/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/js/bootstrap.min.js"></script>
  <script src="{{ site.url }}/js/script.js"></script>

  <script>
    window._gaq = [['_setAccount','UA-20768763-2'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
